<%- include('partials/header'); -%>

<form>
  <h2>Sign up</h2>

  <label for="email">Email</label>
  <input type="email" name="email" required />
  <!-- Teacher is using type="text" to show example of server things -->
  <div class="email error"></div>

  <label for="password">Password</label>
  <input type="password" name="password" required />
  <div class="password error"></div>

  <button>Sign up</button>
</form>

<!-- Grab values from above fields, and send them to the server -->
<script>
  const form = document.querySelector('form');
  form.addEventListener('submit', async (e) => {
    e.preventDefault();

    // Get the values
    const email = form.email.value; // since input name="email"
    const password = form.password.value;

    try {
      const result = await fetch('/signup', {
        method: 'POST',
        body: JSON.stringify({ email, password }),
        headers: { 'Content-Type': 'application/json' },
      });

      const data = await result.json();
      console.log('Server response:', data);
    } catch (err) {
      console.log('Fetch error:', err);
    }
  });
</script>

<%- include('partials/footer'); -%>
