<%- include('partials/header'); -%>

<form>
  <h2>Sign up</h2>

  <label for="email">Email</label>
  <input type="email" name="email" required />
  <!-- Teacher is using type="text" to show example of server things -->
  <div class="email error"></div>

  <label for="password">Password</label>
  <input type="password" name="password" required />
  <div class="password error"></div>

  <button>Sign up</button>
</form>

<!-- Grab values from above fields, and send them to the server -->
<script>
  const form = document.querySelector('form');
  const emailError = document.querySelector('.email.error'); // Refers to div with class="email error"
  const passwordError = document.querySelector('.password.error'); // Refers to div with class="password error"

  form.addEventListener('submit', async (e) => {
    e.preventDefault();

    // Reset errors
    emailError.textContent = '';
    passwordError.textContent = '';

    // Get the values
    const email = form.email.value; // since input name="email"
    const password = form.password.value;

    try {
      const res = await fetch('/signup', {
        method: 'POST',
        body: JSON.stringify({ email, password }),
        headers: { 'Content-Type': 'application/json' },
      });

      const data = await res.json();
      console.log('Server response:', data);
      if (data.errors) {
        emailError.textContent = data.errors.email;
        passwordError.textContent = data.errors.password;
      }
      // Redirect to homepage if user successfully logs in
      if (data.user) {
        location.assign('/');
      }
    } catch (err) {
      console.log('Fetch error:', err);
    }
  });
</script>

<%- include('partials/footer'); -%>
